<html>
    <head>
        <title>Add User</title>
    </head>
    <body>
        <h3>Add User</h3>
        <a href="/view/user/list">User List</a>
        <form method="POST" action="/view/user/add">
            <table>
                <tr>
                    <td>Name : </td>
                    <td><input type="text" name="name" /> </td>
                </tr>
                <tr>
                    <td>Age : </td>
                    <td><input type="text" name="age" /></td>
                </tr>
            </table>

            <input type="submit" />
        </form>
    </body>
</html>